<div class = "listMustache">
  <img src="{{avatar}}"></img>
  <a href= "http://localhost:3000/{{id}}">{{name}}</a>
  <p>{{job}}<span id = "forHire">{{^job}}Available for Hire{{/job}}</span> {{company}}</p>
</div>
